# vim: filetype=sh :

## Linux aliases
# shellcheck disable=2012
if ls --version >/dev/null 2>&1 && ls --version | head -n 1 | grep GNU >/dev/null; then
  alias ls='ls --color=auto'
else
  alias ls='ls -G'
fi
alias h='history'
alias ll='ls -l'
alias la='ls -A'
alias rm='rm -i'
alias less='less -iM'
alias tree='tree -NC'
alias grep='grep --color=auto'
alias man='LANG=C man'
[[ -n "$TMUX_CONF" ]] && alias tmux='tmux -f "$TMUX_CONF"'
[[ "$(command -v thefuck)" ]] && eval "$(thefuck --alias)"

## Overriding aliases
[[ "$(command -v hub)" ]] && eval "$(hub alias -s)"
[[ "$(command -v nvim)" ]] && alias vim='nvim'
[[ "$(command -v sshrc)" ]]  && alias ssh=sshrc
#[[ "$(command -v kyrat)" ]]  && alias ssh=kyrat

## Aliases for convenience
alias be='bundle exec'
alias pir='pipenv run'
alias de='docker exec'
alias dr='docker run -it --rm'
alias drv='docker run -it --rm -w /workspace -v $(pwd):/workspace'
alias dcr='docker-compose run'
alias mysql='mysql --pager="less -S -n -i -F -X"'
alias remotehost="cat ~/.ssh/config ~/.ssh/config.d/* | grep -e '^Host' | sed -e 's/^Host //g'"
alias tf='terraform'
alias updatedots='git -C ~/dotfiles sync'
