# vim: filetype=sh :

## Linux aliases
# shellcheck disable=2012
if ls --version | head -n 1 | grep GNU >/dev/null; then
  alias ls='ls --color=auto'
else
  alias ls='ls -G'
fi
alias h='history'
alias ll='ls -l'
alias la='ls -A'
alias rm='rm -i'
alias less='less -iM'
alias tree='tree -NC'
alias grep='grep --color=auto'
alias man='LANG=C man'
alias watch='watch --color'
[[ "$(command -v tmux)" ]] && [[ -n "$TMUX_CONF" ]] && alias tmux='tmux -f "$TMUX_CONF"'

## Overriding aliases
[[ "$(command -v nvim)" ]] && alias vim='nvim'
[[ "$(command -v sshrc)" ]]  && alias ssh=sshrc

## Aliases for convenience
alias be='bundle exec'
alias pir='pipenv run'
alias de='docker exec'
alias dr='docker run -it --rm'
alias drv='docker run -it --rm -w /workspace -v $(pwd):/workspace'
alias dcr='docker-compose run'
alias mysql='mysql --pager="less -S -n -i -F -X"'
alias remotehost="cat ~/.ssh/config ~/.ssh/config.d/* | grep -e '^Host' | sed -e 's/^Host //g'"
alias tf='terraform'
alias today='date +%Y%m%d'
alias now='date +%Y%m%d%H%I%S'
alias kc='kubectl'
