# vim: filetype=sh :

prompt_aws() {
  if [[ -n "${AWS_PROFILE}" ]]; then
    AWS_PROMPT=" <AWS:${AWS_PROFILE}>"
  else
    AWS_PROMPT=""
  fi
}

prompts() {
  if [ -z "$SSH_CLIENT" ]; then
    PS1='localhost: \W\$ '
  fi

  export PROMPT_COMMAND="prompt_aws;$PROMPT_COMMAND"

  if [ "$(command -v __git_ps1)" ]; then
    # shellcheck disable=2016
    PS1="$(echo "${PS1}" | sed 's/\\\$ /$(__git_ps1)\\\$ /')"
  fi

  PS1="$(echo "${PS1}" | sed 's/\\\$ /$AWS_PROMPT\\\$ /')"

  # Make dollar yellow
  PS1="$(echo "${PS1}" | sed 's/\\\$ /\\\[\\e\[33m\\\]\\\$\\\[\\e\[0m\\\] /')"

  if [ -n "$SSH_CLIENT" ]; then
    if [ "$PS1" = "${PS1/ssh/}" ]; then
      PS1='\[\e[33m\][ssh]\[\e[0m\]'"${PS1}"
    fi
  fi
}

if [ "$(command -v networksetup)" ]; then
  wifireset() {
    interface='en0'
    networksetup -setairportpower "$interface" off
    echo 'Re-enabling Wi-Fi...'
    networksetup -setairportpower "$interface" on
    echo 'Done.'
  }
fi

if [ "$(command -v github-nippou)" ]; then
  shuho() {
    since=$(date "+%Y%m%d" --date '7 day ago')
    until=$(date "+%Y%m%d" --date '1 day ago')

    echo "Fetching contributions during $since ~ $until..."

    github-nippou -u "$until" -s "$since"
  }
fi

if [ ! "$(command -v trash)" ]; then
  trash () {
    # shellcheck disable=2016
    echo 'Warning: `trash` is redirected to `rm`.'
    rm "$@"
  }
fi

if [ "$(command -v ghq)" ] && [ "$(command -v fzf)" ]; then
  ghqp() {
    query="$1"
    if [ -n "$query" ]; then
      repo=$(ghq list | fzf --filter "$query" | head -n 1)
    else
      repo=$(ghq list | fzf --height=30%)
    fi

    if [ -z "$repo" ]; then
      echo "No repos are selected."
      return
    fi
    echo "Changing directory to $(ghq root)/$repo"
    cd "$(ghq root)/$repo" || return 1
  }
fi

# AWS Profile Switcher
if [ ! "$(command -v awsps)" ]; then

  awsps() {
    query="$1"

    if [ "$query" = "--clear" ]; then
      export AWS_PROFILE=""
      rm -f ~/.aws/current_profile
      echo "AWS Profile cleared."
      return
    fi

    if [ -n "$query" ]; then
      profile="$(sed -n "s/^\[profile \(.*\)\]$/\1/p" < ~/.aws/config | fzf --filter "$query" | head -n 1)"
    else
      profiles="$(sed -n "s/^\[profile \(.*\)\]$/\1/p" < ~/.aws/config | sort)"
      select p in $profiles; do
        profile=$p
        break
      done
    fi

    if [ -z "$profile" ]; then
      echo "No profiles are selected."
      return
    fi

    echo "$profile" > ~/.aws/current_profile
    export AWS_PROFILE="$profile"
    echo "AWS Profile set: $profile"
  }
fi
