.DS_Store
*~
*.swp
/.vim/.netrwhist
/bin/mlint

# bundles
/.vim/bundle/.neobundle/install_info
/.vim/bundle/.neobundle/tags_info
/.vim/bundle/nerdtree
/.vim/bundle/syntastic
/.vim/bundle/vim-fugitive
/.vim/bundle/vim-swift
