[user]
	name = Ikuo Degawa
	email = degawa@ikuwow.com
[core]
	excludesfile = ~/.gitignore
    editor = vim
	quotepath = false
[color]
	ui = true
[grep]
    lineNumber = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[alias]
    s = status
    b = branch
    d = diff
    a = add
    c = commit
    ch = checkout
    l = log
    r = remote
    ru = remote update
    bl = blame
    gr = grep

# このconfig fileはdotfilesのconfigでもあり、
# でもあり、PC用グローバル.gitconfigでもある
[credential]
	helper = cache
