[submodule ".vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "submodules/trash"]
	path = submodules/trash
	url = git@github.com:ikuwow/trash.git
