"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    useCustomTitleBar: true
  editor: {}
  "exception-reporting":
    userId: "00f313a3-024d-107d-4458-72598b0be02f"
  welcome:
    showOnStartup: false
