<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>brew_cleanup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/brew</string>
        <string>cleanup</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>5</integer>
        <key>Minute</key>
        <integer>33</integer>
    </dict>
    <key>UserName</key>
    <string>__USERNAME__</string>
    <key>StandardErrorPath</key>
    <string>/Users/__USERNAME__/logs/brew_cleanup.err</string>
</dict>
</plist>
